In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
import sys

In [2]:
imbd_data = pd.read_csv('final_voting_yeah.csv',index_col=0)

In [3]:
text_data = imbd_data.loc[: , ['Director', 'Writer', 'First_actor', 'Second_actor', 'Third_actor', 'Forth_actor']]

In [4]:
from collections import Counter

In [5]:
DIRECTOR_W = 4
WRITER_W = 1
ACTOR_W = 4
ACTOR_W_1 = 2

In [6]:
weight_dict = {
    'Director':DIRECTOR_W,
    'Writer':WRITER_W,
    'First_actor':ACTOR_W,
    'Second_actor':ACTOR_W,
    'Third_actor':ACTOR_W_1,
    'Forth_actor':ACTOR_W_1
}

In [7]:
def get_weight(type):
    if type == 'Director':
        return word_count(text_data[type].tolist(), DIRECTOR_W)
    elif type == 'Writer':
        return word_count(text_data[type].tolist(), WRITER_W)
    elif type == 'First_actor' or type == 'Second_actor':
        return word_count(text_data[type].tolist(), ACTOR_W)
    else: return word_count(text_data[type].tolist(), ACTOR_W_1)
    
def word_count(name_list, adj_fct):
    count = Counter()
    for name in name_list:
        if type(name) is str: count[name.strip()] += 1 * adj_fct
    return count

def conbime_act():
    c1 = get_weight('First_actor')
    c2 = get_weight('Second_actor')
    c3 = get_weight('Third_actor')
    c4 = get_weight('Forth_actor')
    keys = [*c1.keys()] + [*c2.keys()]  + [*c3.keys()] + [*c4.keys()]   
    m_dic = dict.fromkeys(keys)
    for key in m_dic.keys():
        count = 0
        if key in c1.keys(): count += c1[key]
        if key in c2.keys(): count += c2[key]
        if key in c3.keys(): count += c3[key]
        if key in c4.keys(): count += c4[key]
        m_dic[key] = count
    return m_dic

In [8]:
alpha_smoothing = 0.005

In [ ]:
get_weight(role)

In [9]:
get_weight('First_actor')

Counter({'Sam Worthington': 20,
         'Leonardo DiCaprio': 72,
         'Gal Gadot': 4,
         'Tobey Maguire': 36,
         'Sam Neill': 28,
         'Ewan McGregor': 56,
         'Tom Hanks': 140,
         'Alan Howard': 4,
         'Macaulay Culkin': 16,
         'Ray Anthony': 4,
         'Jim Carrey': 72,
         'Tommy Lee Jones': 60,
         'Helen Hunt': 24,
         'Tom Cruise': 108,
         'Matt Damon': 80,
         'Jackie Chan': 56,
         'Robby Benson': 8,
         'Jason Lee': 28,
         'Mike Myers': 44,
         'Bruce Willis': 132,
         'Brandon Routh': 12,
         'Kristen Stewart': 28,
         'Brad Pitt': 72,
         'Paul Rudd': 44,
         'Hugh Jackman': 52,
         'Will Smith': 60,
         'Richard Gere': 92,
         'Ray Romano': 8,
         'Nicolas Cage': 152,
         'Russell Crowe': 64,
         'Anthony Hopkins': 84,
         'Michael Keaton': 72,
         'Dave Foley': 8,
         'Adam Sandler': 112,
         'Brendan Fraser': 56,
         'Sarah Jessica Parker': 24,
         'Sylvester Stallone': 128,
         'Will Ferrell': 72,
         'Antonio Banderas': 56,
         'Mel Gibson': 96,
         'Eddie Murphy': 80,
         'Amanda Seyfried': 24,
         'Ken Leung': 4,
         'Michael J. Fox': 56,
         'Tom Berenger': 52,
         'James McAvoy': 36,
         'Edward Norton': 32,
         'Marlon Brando': 32,
         'Julian Glover': 4,
         'Steve Carell': 56,
         'Naomi Watts': 48,
         'Yun-Fat Chow': 28,
         'Pierce Brosnan': 68,
         'Scarlett Johansson': 24,
         'Keanu Reeves': 72,
         'Bryce Dallas Howard': 12,
         'Meryl Streep': 100,
         'Sarah Michelle Gellar': 16,
         'Jamie Lee Curtis': 24,
         'Pamela Anderson': 8,
         'Matthew McConaughey': 72,
         'Natalie Portman': 40,
         'Robert Redford': 76,
         'Ali MacGraw': 8,
         'Mark Wahlberg': 88,
         'Goldie Hawn': 44,
         'Tyler Hoechlin': 4,
         'Warren Beatty': 24,
         'Jamie Foxx': 40,
         'Jane Fonda': 32,
         'Clint Eastwood': 144,
         'H.B. Halicki': 4,
         'Julia Roberts': 64,
         'Arnold Schwarzenegger': 88,
         'Johnny Depp': 128,
         'Jena Malone': 16,
         'Amy Adams': 28,
         'Storm Reid': 4,
         'Jason Alexander': 20,
         'Tate Donovan': 8,
         'Danny Glover': 36,
         'Angela Bassett': 12,
         'Matthew Broderick': 60,
         'Christian Bale': 68,
         'Jude Law': 40,
         'Russell Brand': 8,
         'John Travolta': 128,
         'Jennifer Beals': 4,
         'Liam Neeson': 84,
         'Denzel Washington': 116,
         'Steve Martin': 96,
         'Ben Stiller': 72,
         'Annabella Sciorra': 8,
         'Bobby Driscoll': 4,
         'Amy Poehler': 12,
         'Joaquin Phoenix': 56,
         'Bill Murray': 52,
         'Sigourney Weaver': 44,
         'Mel Blanc': 8,
         'Corey Burton': 4,
         'Robin Wright': 24,
         'Josh Hutcherson': 12,
         'Laura Linney': 24,
         'Tom Skerritt': 12,
         'Cher': 32,
         'Johnny Knoxville': 16,
         'Channing Tatum': 28,
         'J.L. Reate': 4,
         'Robert De Niro': 172,
         'Ralph Fiennes': 40,
         'Burt Reynolds': 76,
         'Kurt Russell': 76,
         'Wesley Snipes': 60,
         'Don Ameche': 12,
         'James Robinson': 4,
         'Dennis Quaid': 76,
         'Al Pacino': 88,
         'Daniel Day-Lewis': 40,
         'Ben Kingsley': 28,
         'Ryan Newman': 4,
         'Elisabeth Shue': 16,
         'Nicole Kidman': 76,
         'Vince Vaughn': 44,
         'John Cusack': 92,
         'Alfred Molina': 8,
         'Antony Acker': 4,
         'Shawn Wayans': 8,
         'Prince': 12,
         'Harrison Ford': 88,
         'Diane Keaton': 52,
         'Roger Moore': 28,
         'Seann William Scott': 20,
         'Andrew Garfield': 24,
         'Glenn Close': 40,
         'John Candy': 24,
         'Sean Connery': 96,
         'Charlton Heston': 20,
         'Jim Henson': 16,
         'Ice Cube': 48,
         'Chris Rock': 24,
         'Jennifer Grey': 4,
         'Hiroyuki Sanada': 4,
         'Jason Segel': 16,
         'Kiefer Sutherland': 24,
         'Jennifer Lopez': 36,
         'Billy Bob Thornton': 40,
         'Piper Perabo': 12,
         'Michael Douglas': 96,
         'Alex D. Linz': 12,
         'Sandra Bullock': 72,
         'Bill Nighy': 16,
         'Ron Perlman': 12,
         'Sarah Polley': 12,
         'Brooke Shields': 16,
         'Keir Dullea': 4,
         'Robert Duvall': 60,
         'Dwayne Johnson': 68,
         'Rachel McAdams': 20,
         'Rob Schneider': 28,
         'Suzuka Ohgo': 4,
         'Dale Midkiff': 4,
         'Jennifer Garner': 24,
         'Guy Pearce': 48,
         'Breckin Meyer': 12,
         'Ashton Kutcher': 24,
         'Leigh Whannell': 4,
         'Mark Rylance': 16,
         'Drew Barrymore': 40,
         'Kevin Costner': 100,
         'Casper Van Dien': 12,
         'Michael Fassbender': 32,
         'Karina Arroyave': 4,
         'Emma Shorey': 4,
         'John Ritter': 24,
         'Kevin Bacon': 68,
         'Ben Affleck': 68,
         'Cuba Gooding Jr.': 32,
         'Wil Wheaton': 8,
         'William Shatner': 28,
         'Adrien Brody': 48,
         'F. Murray Abraham': 16,
         'Kate Beckinsale': 36,
         'William Hurt': 52,
         'Rudy Youngblood': 4,
         'Kevin Spacey': 48,
         'Woody Harrelson': 60,
         'Patricia Arquette': 20,
         'Robin Williams': 100,
         'Frankie Muniz': 12,
         'Demi Moore': 32,
         'Ethan Hawke': 68,
         'Camilla Belle': 12,
         'Richard Pryor': 40,
         'Donald Pleasence': 28,
         'Alec Baldwin': 48,
         'Matthew Modine': 36,
         'Michelle Pfeiffer': 28,
         'Steven Seagal': 48,
         'Michael Sheen': 4,
         'Mark Ruffalo': 20,
         'Barbra Streisand': 40,
         'Heather Langenkamp': 4,
         'Dustin Hoffman': 60,
         'Jack Lemmon': 36,
         'Martin Lawrence': 56,
         'Jack Nicholson': 80,
         'Sean Hayes': 8,
         'Natalie Wood': 4,
         'Alex Wolff': 8,
         'Jet Li': 40,
         'Richard Dreyfuss': 64,
         'Diane Lane': 40,
         'Craig Sheffer': 12,
         'James Fleet': 4,
         'Catherine Zeta-Jones': 4,
         'Jack Black': 40,
         'Andrew McCarthy': 20,
         'John Cleese': 24,
         'Kyrie Irving': 4,
         'Don Alder': 4,
         'Maxime Giffard': 4,
         'Kathleen Turner': 32,
         'Steven Yeun': 4,
         'Ally Sheedy': 16,
         'John Mills': 4,
         'Patsy Garrett': 4,
         'Paul Newman': 44,
         'Susan Sarandon': 36,
         'Kim Basinger': 28,
         'Meg Ryan': 28,
         'Ian McKellen': 28,
         'Vincent Price': 12,
         'Paul Walker': 36,
         'Omar Epps': 12,
         'Chyler Leigh': 4,
         'Matt Passmore': 4,
         'Emilio Estevez': 48,
         'Gwyneth Paltrow': 32,
         'George Clooney': 80,
         'Britney Spears': 4,
         'Christopher Lloyd': 4,
         'Jodie Foster': 44,
         'Cathy Moriarty': 4,
         'Jada Pinkett Smith': 12,
         'Emily Browning': 24,
         'Justin Long': 24,
         'Betty Hutton': 4,
         'Geoffrey Rush': 36,
         'Cary Elwes': 16,
         'Robert Englund': 16,
         'Klaus Maria Brandauer': 16,
         'Anthony Perkins': 16,
         'Charlize Theron': 44,
         'Katie Leung': 4,
         'Tim Curry': 8,
         'Samuel L. Jackson': 80,
         'Amanda Bynes': 12,
         'Jim Belushi': 32,
         'Mara Wilson': 4,
         'Geena Davis': 16,
         'Gerard Butler': 52,
         'Cameron Diaz': 52,
         'David Duchovny': 28,
         'Kristen Bell': 24,
         'Chris Farley': 12,
         'Ryan Reynolds': 60,
         'Chaney Kley': 4,
         'Jake Gyllenhaal': 60,
         'Parminder Nagra': 4,
         'Matthew Chamberlain': 4,
         'Jennifer Tilly': 12,
         'Elisha Cuthbert': 12,
         'Jay Baruchel': 20,
         'Michael Caine': 76,
         'Sean Penn': 64,
         'Christopher Plummer': 8,
         'Debra Messing': 4,
         'Jessica Alba': 20,
         'John Krasinski': 16,
         'Kate Maberly': 4,
         'Helen Mirren': 44,
         'Francesca Annis': 4,
         'Brian Bonsall': 4,
         'Brian Krause': 4,
         'Gene Hackman': 80,
         'Jonah Hill': 20,
         'Aaliyah': 4,
         'Jean-Claude Van Damme': 72,
         'Jason Statham': 64,
         'Patrick Swayze': 48,
         'Bridget Fonda': 16,
         'Hank Azaria': 24,
         'Damon Wayans': 24,
         'Paul Bettany': 12,
         'Timothy Bottoms': 4,
         'Victor Wong': 12,
         'Dean Jones': 8,
         'James Spader': 32,
         'Allie Mickelson': 4,
         'Walter Matthau': 36,
         'Dane Cook': 16,
         'Steve Irwin': 4,
         'Jake Andolina': 4,
         'Matilda Anna Ingrid Lutz': 4,
         'Nick Nolte': 76,
         'Aomi Muyock': 4,
         'Morris Chestnut': 16,
         'Taye Diggs': 12,
         'William Holden': 8,
         'Al Jolson': 4,
         'Sam J. Jones': 4,
         'Shannyn Sossamon': 4,
         'Sally Field': 44,
         'Gena Rowlands': 24,
         'Zach Braff': 20,
         'Natalie Dormer': 4,
         'Tom Everett Scott': 12,
         'Luis Guzmán': 4,
         'Christopher Reid': 16,
         'Tim Robbins': 44,
         'Sylvia Kristel': 4,
         'Scott Bakula': 16,
         'Drake Bell': 8,
         'Julian Fellowes': 4,
         'Kelsey Grammer': 4,
         'C. Thomas Howell': 20,
         'Emma Roberts': 24,
         'Penélope Cruz': 36,
         'Nathan Fillion': 4,
         'Ashley Judd': 20,
         'Morgan Freeman': 64,
         'D.B. Sweeney': 8,
         'Charlie Sheen': 56,
         'Jim Varney': 20,
         'Louis Gossett Jr.': 12,
         'Al Gore': 8,
         'Chris Kattan': 4,
         'Kel Mitchell': 4,
         'Peter Riegert': 4,
         'Steven Strait': 8,
         'Fred Astaire': 8,
         'Richard Roxburgh': 8,
         'Jon Foster': 12,
         'Rebecca De Mornay': 16,
         'George Lazenby': 4,
         'Kris Kristofferson': 20,
         'Sean Astin': 40,
         'Richard Briers': 4,
         'Uma Thurman': 20,
         'Pat Healy': 16,
         'Lou Diamond Phillips': 16,
         'Anna Paquin': 8,
         'Ted Danson': 12,
         "Chris O'Donnell": 20,
         'Paul Lazar': 4,
         'Emile Hirsch': 20,
         'Leslie Nielsen': 20,
         'Ioan Gruffudd': 8,
         'Rider Strong': 4,
         'Dee Wallace': 16,
         'Henry Winkler': 4,
         'Derek Luke': 8,
         'Tom Selleck': 32,
         'Lisa Adam': 4,
         'Denise Richards': 4,
         "George O'Hanlon": 4,
         'Noreen Hennessey': 4,
         'Elijah Wood': 44,
         'Marisa Tomei': 12,
         'Jaime King': 12,
         'Alan Alda': 16,
         'John Leguizamo': 24,
         'Christian Slater': 40,
         "Shaquille O'Neal": 8,
         'Jay Brazeau': 4,
         'Peter Vaughan': 4,
         'Milla Jovovich': 36,
         'Christina Ricci': 24,
         'Mario Van Peebles': 16,
         'Bill Bernstein': 4,
         'Jim Cummings': 8,
         'Kirstie Alley': 8,
         'Steve Guttenberg': 36,
         'Forest Whitaker': 40,
         'Donald Sutherland': 44,
         'Jim Caviezel': 32,
         'Holly Hunter': 20,
         'Jonathan Tucker': 4,
         'Dan Aykroyd': 44,
         'David Arquette': 28,
         'Timothy Hutton': 32,
         'Jamie Kennedy': 8,
         'Jeremy Renner': 16,
         'Joe Mantegna': 12,
         'Winona Ryder': 20,
         'Ryan Phillippe': 16,
         'Madeleine Stowe': 8,
         'Ji-seob So': 4,
         'Rae Dawn Chong': 8,
         'Cybill Shepherd': 4,
         'Gabriel Byrne': 24,
         'Charles Bronson': 24,
         'Christopher Walken': 48,
         'Hulk Hogan': 16,
         'Mekhi Phifer': 8,
         'Matt Dillon': 56,
         'Vanessa Williams': 12,
         'Byung-Hun Lee': 16,
         'Khalid Abdalla': 4,
         'Malgorzata Foremniak': 4,
         'Mark Aisbett': 4,
         'Ellen Barkin': 16,
         'Mark Hamill': 8,
         'Rob Lowe': 28,
         'Douglas Barr': 4,
         'James Paxton': 4,
         'Richard Brancatisano': 4,
         'Domhnall Gleeson': 12,
         'John Savage': 12,
         'Max von Sydow': 8,
         'Maxwell Caulfield': 4,
         'Tomoko Yamaguchi': 4,
         'Glenn Jacobs': 4,
         'Candy Clark': 4,
         'William Katt': 8,
         'David Caruso': 16,
         'Brittany Snow': 4,
         'Richard Harris': 16,
         'Rongguang Yu': 4,
         'Bailey Spry': 4,
         'Anthony Quinn': 12,
         'Peter Horton': 4,
         'Peter Ustinov': 12,
         'Bernard-Pierre Donnadieu': 8,
         'George Burns': 4,
         'Jacqueline Bisset': 12,
         'Robert Beltran': 4,
         'Gary Busey': 12,
         'Luke Edwards': 8,
         'Michael Blevins': 4,
         'Tom Arnold': 16,
         'Jeff Speakman': 8,
         'Domenick John': 4,
         'Andy Samberg': 16,
         'Anne Hathaway': 24,
         'David Bowie': 12,
         'Spencer Klein': 4,
         'Mary Steenburgen': 12,
         'Alfre Woodard': 20,
         'Tim Meadows': 4,
         'John Gallagher Jr.': 8,
         "Jerry O'Connell": 12,
         'Farrah Fawcett': 8,
         'Greg Kinnear': 36,
         'David Koechner': 4,
         'Jose Rijo': 4,
         'Barbara Hershey': 16,
         'Claire Danes': 24,
         'Josie Lawrence': 4,
         'Bill Paxton': 20,
         'Luke Benward': 8,
         "Edmond O'Brien": 4,
         'Klinton Spilsbury': 4,
         'Larenz Tate': 12,
         'Peter Sellers': 28,
         'Brenda Blethyn': 16,
         'Jonathan Silverman': 4,
         'Rick Hill': 4,
         'Thora Birch': 12,
         'Jackie Mason': 4,
         'Oscar Isaac': 16,
         'Steve Railsback': 8,
         'Sanaa Lathan': 8,
         'Andy Garcia': 36,
         'James Garner': 8,
         'Mia Wasikowska': 16,
         'Hugo Weaving': 12,
         'Takeshi Kaneshiro': 12,
         'Matthias Schweighöfer': 4,
         'Emily Blunt': 20,
         'Joe Pesci': 28,
         'Eric Idle': 8,
         'Daniel Doheny': 4,
         'Griffin Dunne': 16,
         'Jim Dunk': 4,
         'Chris Klein': 12,
         'Michael Dudikoff': 16,
         'Kristin Griffith': 4,
         'Jeff Bridges': 84,
         'Jonathan Cherry': 4,
         'Tim Conway': 8,
         'Erin Bethea': 4,
         'Keira Knightley': 16,
         'Nicolai Cleve Broch': 4,
         'Richard Brooks': 4,
         'Norm MacDonald': 8,
         'Liesel Matthews': 4,
         'Gary Oldman': 40,
         'Jerry Springer': 4,
         'Priscilla Quintana': 4,
         'Julian Sands': 16,
         'Jessica Lange': 32,
         'Woody Allen': 56,
         'Pat Morita': 16,
         'Bebe Neuwirth': 4,
         'John Hurt': 20,
         'Jason Robards': 20,
         'Jeff Daniels': 28,
         'Margaux Hemingway': 4,
         'Jerry Adler': 4,
         'Kate Capshaw': 8,
         'William H. Macy': 24,
         'Kevin Dillon': 4,
         'Luke Wilson': 36,
         'Billy Crystal': 36,
         'Robert Townsend': 12,
         'Kristy McNichol': 8,
         'Andie MacDowell': 20,
         'Peter Falk': 20,
         'Carolyn Adair': 4,
         'Don Thompson': 4,
         'Hugh Grant': 44,
         'Vladimir Garin': 4,
         'Ice-T': 4,
         'Hoyt Axton': 8,
         'William Prael': 4,
         'Heath Ledger': 24,
         'Eva Longoria': 4,
         'Jeff Goldblum': 24,
         'Sterling Hayden': 4,
         'Leleti Khumalo': 4,
         'Madonna': 16,
         'Kerr Smith': 4,
         'Taylor Nichols': 4,
         'Chris Hemsworth': 32,
         'Grant Cramer': 4,
         'Philip Seymour Hoffman': 20,
         'Tre Armstrong': 4,
         'Ben Schnetzer': 8,
         'Annette Bening': 20,
         'Judd Nelson': 20,
         'Joanne Whalley': 4,
         'Takuya Kimura': 4,
         'Brady Corbet': 8,
         'Ross Bagdasarian Jr.': 4,
         'Marc Price': 4,
         'Christopher Lambert': 24,
         'Rebecca Romijn': 4,
         'Robin Altman': 4,
         'Tyrone Power': 4,
         'Claudia Stedelin': 4,
         'Mary Tyler Moore': 4,
         'Kirsten Dunst': 40,
         'Sissy Spacek': 36,
         'Clive Owen': 52,
         'François Cluzet': 8,
         'Sally Hawkins': 20,
         'Linda Blair': 16,
         'Linda Cardellini': 4,
         'Stephen Dorff': 28,
         'Ji-hyun Jun': 8,
         'Stan Collymore': 4,
         'Josette Simon': 4,
         'Lawrence Monoson': 4,
         'Tanya Roberts': 4,
         'Richard Belzer': 4,
         'Mark Lee': 4,
         'Kurt Thomas': 4,
         'Peter Weller': 24,
         'Mariel Hemingway': 16,
         'David Schwimmer': 8,
         'Victoria Chilap': 4,
         'Sarala Kariyawasam': 4,
         'Natasha Lyonne': 8,
         'Rutger Hauer': 28,
         "Peter O'Toole": 32,
         'Albert Finney': 32,
         'Chuck Norris': 52,
         'Devon Sawa': 16,
         'Tom Hardy': 20,
         'Roy Scheider': 36,
         'Robert Forster': 16,
         'John Cassavetes': 4,
         'Fanny Ardant': 20,
         'Bettina Bush': 4,
         'Hannah Taylor Gordon': 4,
         'Bobby Boriello': 4,
         'Jackson Rathbone': 4,
         'Lorraine Bracco': 4,
         'Crispin Glover': 8,
         'Jon Favreau': 16,
         'Chiara Mastroianni': 4,
         'Martin Sheen': 24,
         'Patrick Dempsey': 36,
         'Stéphane Audran': 4,
         'Rob Freeman': 4,
         'Lady Gaga': 4,
         'Dougray Scott': 8,
         'Karen Allen': 12,
         'Ron Eldard': 4,
         'Giuseppe Andrews': 4,
         'Jill Schoelen': 8,
         'Paulina García': 4,
         'Amanda Peet': 8,
         'Daveed Diggs': 4,
         'Mel Brooks': 16,
         'Rachel Weisz': 20,
         'Lori Petty': 4,
         'Robert Downey Jr.': 60,
         'Martin Short': 16,
         'John Lithgow': 16,
         'Matt Adler': 4,
         'Wallace Shawn': 12,
         'François Bégaudeau': 4,
         'Minnie Driver': 20,
         'Campbell Scott': 28,
         'Marianne Sägebrecht': 8,
         'Shar-Ron Corley': 4,
         'Sting': 4,
         'Agnes Bruckner': 8,
         'Eric Bogosian': 8,
         'Andrew Lowery': 4,
         'Isabelle Adjani': 12,
         'Terence Stamp': 12,
         'Werner Herzog': 20,
         'Melissa Sagemiller': 4,
         'Michael Biehn': 8,
         'Ray Liotta': 20,
         'Alex Lewis': 4,
         'Jim Broadbent': 12,
         'Janet McTeer': 12,
         'Jonathan Crombie': 4,
         'Kristin Scott Thomas': 16,
         'Kathryn Alexander': 4,
         'Bruce Davison': 8,
         'Presley Chweneyagae': 4,
         'David Naughton': 8,
         'Albert Brooks': 24,
         'Jennifer Jason Leigh': 28,
         'Sam Waterston': 16,
         'Shane McDermott': 4,
         'Laurence Fishburne': 24,
         'Christine Lahti': 8,
         'Jane Adams': 4,
         'Penelope Ann Miller': 12,
         'John Scott Clough': 4,
         'Michael Kirby': 4,
         'Michael Zorek': 4,
         'Jason Patric': 20,
         'Lindsay Crouse': 4,
         'Brad Renfro': 12,
         'Michael Pitt': 20,
         'Melissa Leo': 12,
         'Nigel Havers': 4,
         'Peter Fonda': 12,
         'David Allen Brooks': 4,
         'Vivian Wu': 8,
         'Sean Young': 12,
         'Neve Campbell': 8,
         'Edward Furlong': 16,
         'Isobel Hawking': 4,
         'Luciano Pavarotti': 4,
         'Lesley-Anne Down': 8,
         'Jeff Clark': 4,
         'Dolph Lundgren': 16,
         'Sanjay Dutt': 12,
         'Rachel Roberts': 4,
         'Kofi Ghanaba': 4,
         'Jack Warden': 4,
         'Michael Laskin': 4,
         'Andy Kaufman': 4,
         'Darci Kistler': 4,
         'Javier Bardem': 24,
         'Vanessa Redgrave': 20,

In [13]:
1/np.log(len(imbd_data)/get_weight('First_actor')['Leonardo DiCaprio'])

0.1984333814765706

In [12]:
1/np.log(len(imbd_data)/get_weight('First_actor')['Ryan Newman'])

0.12610584692400806

In [14]:
def normed_adj_weight(name, role):
    soc_loc = ['imdbRating', 'Internet_Movie_Database', 'Rotten_Tomatoes', 'Metacritic']
    col = role
    if role == 'First_actor' or role == 'Second_actor' or role == 'Third_actor' or role == 'Forth_actor':
        col = ['First_actor' , 'Second_actor', 'Third_actor', 'Forth_actor']
        score = 0
        leng = 0
        for co in col:
            idc = text_data[co][text_data[col][text_data[col] == name].notna()[co]].index.values.tolist()
            for id in idc:
                sco_of_film = (imbd_data.iloc[id][['imdbRating', 'Internet_Movie_Database', 'Rotten_Tomatoes', 'Metacritic']]).mean()
                sum_of_weight = sum([weight_dict[item] for item in weight_dict if type(imbd_data.iloc[id][item]) is str])
                base = np.log(sco_of_film)
                score += base + sco_of_film*(weight_dict[co])/sum_of_weight
            leng += len(idc)
        smoothing_weight = (1 + alpha_smoothing)/(leng + len(imbd_data)*alpha_smoothing)
        final_socre = score*smoothing_weight*(5/np.log(len(imbd_data)/conbime_act()[name]))
    else: 
        idx = text_data[col][text_data[col] == name].index.values.tolist()
        score = 0
        for id in idx:
            sco_of_film = (imbd_data.iloc[id][['imdbRating', 'Internet_Movie_Database', 'Rotten_Tomatoes', 'Metacritic']]).mean()
            sum_of_weight = sum([weight_dict[item] for item in weight_dict if type(imbd_data.iloc[id][item]) is str])
            base = np.log(sco_of_film)
            score += base + sco_of_film*(weight_dict[role])/sum_of_weight
        smoothing_weight = (1 + alpha_smoothing)/(len(idx) + len(imbd_data)*alpha_smoothing)
        final_socre = score*smoothing_weight*(5/np.log(len(imbd_data)/get_weight(role)[name]))
    return final_socre

In [ ]:
score_list = []
for i in range(len(imbd_data)):
    score_per_film = 0
    for col in ['Director', 'Writer', 'First_actor', 'Second_actor', 'Third_actor', 'Forth_actor']:
        if type(imbd_data.iloc[i][col]) is str:
            score_per_film+= normed_adj_weight(imbd_data.iloc[i][col], col)
    score_list.append(score_per_film)

In [22]:
#score_Director = []
for i in range(5079, len(imbd_data)):
    score_per_film = 0
    for col in ['First_actor', 'Second_actor', 'Third_actor', 'Forth_actor']:
        if type(imbd_data.iloc[i][col]) is str:
            score_per_film+= normed_adj_weight(imbd_data.iloc[i][col], col)
    score_Director.append(score_per_film)

In [23]:
len(score_Director)

11116

In [24]:
len(my_data)

NameError: name 'my_data' is not defined

In [25]:
imbd_data['score_of_A'] = score_Director

In [26]:
my_data = imbd_data.drop(['Director', 'Writer', 'First_actor', 'Second_actor', 'Third_actor', 'Forth_actor', 'imdbRating', 'Internet_Movie_Database', 'Rotten_Tomatoes', 'Metacritic'], axis = 1)

In [27]:
my_data.to_csv('final_score_rev_2.csv')

In [28]:
my_data

,BoxOffice,Runtime,Title,Year,imdbVotes,Action,Adventure,Animation,Biography,Comedy,...,Short,Sport,Thriller,War,Western,Country,Country_count,score_of_D,score_of_W,score_of_A
0,8.838271e+08,162,Avatar,2009,1010278,1,1,0,0,0,...,0,0,0,0,0,"UK, USA",2,0.315535,0.190258,2.561038
1,1.039048e+09,194,Titanic,1997,922729,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.315535,0.190258,3.056170
2,4.254846e+08,141,Wonder Woman,2017,444177,1,1,0,0,0,...,0,0,0,1,0,"USA, China, Hong Kong",3,0.093359,0.024266,1.783530
3,5.675917e+08,121,Spider-Man,2002,622899,1,1,0,0,0,...,0,0,0,0,0,USA,1,0.436842,0.074590,3.533636
4,7.926653e+07,127,Jurassic Park,1993,755018,0,1,0,0,0,...,0,0,1,0,0,USA,1,1.454859,0.236569,2.472766
5,4.923462e+08,140,Star Wars: Episode III - Revenge of the Sith,2005,619959,1,1,0,0,0,...,0,0,0,0,0,"USA, Italy, Switzerland, Thailand, Tunisia",5,0.238646,0.174334,2.600728
6,5.632720e+08,142,Forrest Gump,1994,1539440,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.797230,0.024786,2.627257
7,4.485203e+08,178,The Lord of the Rings: The Fellowship of the Ring,2001,1451077,0,1,0,0,0,...,0,0,0,0,0,"New Zealand, USA",2,0.563321,0.085386,1.114579
8,3.393202e+08,148,Inception,2010,1767563,1,1,0,0,0,...,0,0,1,0,0,"USA, UK",2,0.547427,0.109988,3.086924
9,5.529723e+08,103,Home Alone,1990,386574,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.523540,0.479934,2.088868
10,3.868694e+08,138,The Matrix Reloaded,2003,468281,1,0,0,0,0,...,0,0,0,0,0,USA,1,0.261214,0.189775,0.137182
11,3.803901e+08,104,How the Grinch Stole Christmas,2000,172140,0,0,0,0,1,...,0,0,0,0,0,"USA, Germany",2,1.086522,0.031857,1.201890
12,3.950466e+08,98,Men in Black,1997,461901,0,1,0,0,1,...,0,0,0,0,0,USA,1,0.409591,0.045198,3.432334
13,3.333942e+08,101,Bruce Almighty,2003,339278,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.226557,0.087329,3.361116
14,3.897429e+08,113,Twister,1996,161549,1,1,0,0,0,...,0,0,1,0,0,USA,1,0.178333,0.236569,2.330901
15,3.031496e+08,116,War of the Worlds,2005,379003,0,1,0,0,0,...,0,0,1,0,0,USA,1,1.454859,0.042626,2.684778
16,2.773549e+08,115,The Bourne Ultimatum,2007,571608,1,0,0,0,0,...,0,0,1,0,0,"USA, Germany, France, Spain",4,0.404956,0.204069,2.928444
17,3.230550e+08,90,Rush Hour 2,2001,183088,1,0,0,0,1,...,0,0,1,0,0,"USA, Hong Kong",2,0.376184,0.044057,1.543680
18,8.837567e+07,84,Beauty and the Beast,1991,380739,0,0,1,0,0,...,0,0,0,0,0,USA,1,0.138907,0.095435,0.370674
19,2.648808e+08,92,Alvin and the Chipmunks,2007,68175,0,0,1,0,1,...,0,0,0,0,0,USA,1,0.138266,0.054626,0.952407
20,3.126814e+08,95,Austin Powers: The Spy Who Shagged Me,1999,201504,1,1,0,0,1,...,0,0,0,0,0,USA,1,0.396346,0.133554,1.361024
21,3.127334e+08,151,Armageddon,1998,363243,1,1,0,0,0,...,0,0,1,0,0,USA,1,0.425158,0.086516,3.875525
22,2.510273e+08,154,Superman Returns,2006,258590,1,1,0,0,0,...,0,0,0,0,0,USA,1,0.381110,0.021940,2.095306
23,2.248544e+08,122,Twilight,2008,384735,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.285860,0.058143,0.946220
24,2.179953e+08,100,The Polar Express,2004,148683,0,1,1,0,1,...,0,0,0,0,0,USA,1,0.797230,0.020923,1.901760
25,2.410780e+08,120,Mr. & Mrs. Smith,2005,404116,1,0,0,0,1,...,0,0,1,0,0,USA,1,0.384049,0.096626,3.113175
26,2.587874e+08,92,Jurassic Park III,2001,264299,1,1,0,0,0,...,0,0,1,0,0,USA,1,0.353639,0.236569,2.390809
27,1.472337e+08,117,Ant-Man,2015,458735,1,1,0,0,1,...,0,0,0,0,0,USA,1,0.261135,0.079468,2.335730
28,2.118937e+08,107,X-Men Origins: Wolverine,2009,423789,1,1,0,0,0,...,0,0,1,0,0,"USA, UK",2,0.222824,0.118200,1.721572
29,4.149500e+08,110,Top Gun,1986,258456,1,0,0,0,0,...,0,0,0,0,0,USA,1,0.630669,0.020553,3.267196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11086,8.403585e+02,95,Christmas in Wonderland,2007,3343,0,0,0,0,1,...,0,0,0,0,0,"Canada, USA",2,0.064026,0.015129,0.386714
11087,7.120173e+02,90,Syrup,2013,10599,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.030782,0.017934,0.424497
11088,4.208218e+02,79,Nature Calls,2012,2920,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.054788,0.031782,0.763759
11089,4.460962e+02,99,Hammer of the Gods,2013,8143,1,1,0,0,0,...,0,0,0,0,0,UK,1,0.051776,0.015678,0.397337
11090,7.027391e+02,105,Citizen Gangster,2011,4929,0,0,0,0,0,...,0,0,0,0,0,Canada,1,0.035086,0.020065,0.947107
11091,8.355594e+02,97,Steve + Sky,2004,2926,0,0,0,0,1,...,0,0,0,0,0,Belgium,1,0.029466,0.017259,0.143788
11092,8.561976e+02,101,Anatomy 2,2003,5365,0,0,0,0,0,...,0,0,1,0,0,Germany,1,0.185601,0.016660,0.342285
11093,3.879120e+02,97,Death of a Superhero,2011,4156,0,0,1,0,0,...,0,0,0,0,0,"Germany, Ireland",2,0.081946,0.076933,0.327142
11094,9.614334e+02,110,United Passions,2014,4341,0,0,0,0,0,...,0,1,0,0,0,France,1,0.003643,0.001292,2.139472
11095,8.300856e+02,87,"Jesus, You Know",2003,2509,0,0,0,0,0,...,0,0,0,0,0,Austria,1,0.234547,0.073500,0.137528
11096,7.244890e+02,112,Shake Hands with the Devil,2007,4456,0,0,0,0,0,...,0,0,0,1,0,Canada,1,0.381719,0.021791,0.171208
11097,8.313337e+02,90,Sorority Girls' Revenge,2001,2477,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.031076,0.018083,0.107253
11098,7.238517e+02,97,Notes on Marie Menken,2006,1736,0,0,0,1,0,...,0,0,0,0,0,"Austria, USA",2,0.090175,0.049245,0.220319
11099,6.645632e+02,90,A Good Day to Die,2010,1234,0,0,0,1,0,...,0,0,0,0,0,USA,1,0.039919,0.022330,0.136478
11100,5.280000e+02,93,Higher Power,2018,850,1,0,0,0,0,...,0,0,1,0,0,USA,1,0.030585,0.017834,0.553149
11101,1.993946e+02,89,Meeting Evil,2012,11767,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.061178,0.067020,2.546115
11102,5.395825e+02,118,The Student,2016,3496,0,0,0,0,0,...,0,0,0,0,0,Russia,1,0.042640,0.023551,0.145347
11103,4.795118e+02,81,Green is Gold,2016,1038,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.035537,0.020282,0.122077
11104,5.476691e+02,80,The Dark Hours,2005,6841,0,0,0,0,0,...,0,0,1,0,0,Canada,1,0.078351,0.020606,0.159136
11105,4.353885e+02,98,2:22,2017,14968,0,0,0,0,0,...,0,0,1,0,0,"Australia, USA",2,0.030412,0.017745,0.518702
11106,4.341569e+02,80,Skinless,2013,857,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.035310,0.020173,0.121328
11107,4.319861e+02,89,Cinemanovels,2013,883,0,0,0,0,1,...,0,0,0,0,0,Canada,1,0.033866,0.019473,0.419500
11108,2.878419e+02,80,Apartment 143,2011,11237,0,0,0,0,0,...,0,0,1,0,0,Spain,1,0.028262,0.036184,0.219217
11109,4.215150e+02,92,The Marsh,2006,4465,0,0,0,0,0,...,0,0,1,0,0,"Canada, USA",2,0.032996,0.019045,1.236936
11110,4.869327e+02,85,Trojan War,1997,8098,0,0,0,0,1,...,0,0,0,0,0,USA,1,0.081540,0.039751,0.588541
11111,3.065904e+02,104,Lou! Journal infime,2014,880,0,0,0,0,1,...,0,0,0,0,0,"France, Belgium",2,0.031027,0.018058,0.525778
11112,2.160438e+02,85,Satanic,2016,5051,0,0,0,0,0,...,0,0,0,0,0,USA,1,0.022003,0.057674,0.238720
11113,1.115760e+02,90,The Objective,2008,8870,0,0,0,0,0,...,0,0,1,0,0,"USA, Morocco",2,0.074500,0.055211,0.204261
11114,8.430976e+01,93,Dog Eat Dog,2016,6187,0,0,0,0,0,...,0,0,1,0,0,USA,1,0.674798,0.069299,3.067267
11115,8.152046e+01,120,Confession of a Child of the Century,2012,1317,0,0,0,0,0,...,0,0,0,0,0,"France, Germany, UK",3,0.023482,0.014034,0.707912